#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1973px 1073px #fff, 314px 526px #fff, 406px 347px #fff,
    1609px 1605px #fff, 122px 1282px #fff, 1862px 269px #fff, 1896px 1179px #fff,
    1638px 1600px #fff, 889px 1382px #fff, 894px 503px #fff, 751px 1448px #fff,
    1734px 779px #fff, 1033px 1419px #fff, 129px 1696px #fff, 1762px 866px #fff,
    617px 1514px #fff, 62px 998px #fff, 1634px 72px #fff, 880px 1247px #fff,
    645px 1860px #fff, 1777px 168px #fff, 702px 1299px #fff, 1746px 273px #fff,
    729px 1164px #fff, 1154px 1600px #fff, 81px 211px #fff, 1758px 1968px #fff,
    85px 1902px #fff, 1033px 531px #fff, 351px 1474px #fff, 555px 1534px #fff,
    1568px 1527px #fff, 885px 649px #fff, 520px 1639px #fff, 1731px 1075px #fff,
    458px 436px #fff, 921px 192px #fff, 1779px 1392px #fff, 231px 1324px #fff,
    1884px 1717px #fff, 1020px 131px #fff, 489px 1036px #fff, 1213px 1129px #fff,
    1748px 1507px #fff, 976px 1323px #fff, 1826px 1391px #fff, 302px 226px #fff,
    24px 1283px #fff, 11px 694px #fff, 1920px 461px #fff, 209px 1148px #fff,
    750px 716px #fff, 1990px 138px #fff, 1052px 886px #fff, 871px 1420px #fff,
    699px 1658px #fff, 901px 1441px #fff, 1796px 1923px #fff, 788px 323px #fff,
    218px 1214px #fff, 1890px 164px #fff, 1747px 201px #fff, 1353px 1403px #fff,
    158px 313px #fff, 1157px 1578px #fff, 713px 1593px #fff, 257px 1472px #fff,
    1801px 63px #fff, 1863px 1120px #fff, 1809px 732px #fff, 128px 699px #fff,
    1821px 1074px #fff, 270px 64px #fff, 1605px 968px #fff, 1343px 20px #fff,
    1611px 303px #fff, 373px 891px #fff, 1360px 1461px #fff, 947px 508px #fff,
    7px 510px #fff, 930px 1071px #fff, 540px 658px #fff, 555px 356px #fff,
    1595px 493px #fff, 1591px 848px #fff, 223px 684px #fff, 229px 1703px #fff,
    492px 1843px #fff, 776px 1619px #fff, 1357px 1040px #fff, 1647px 1826px #fff,
    1537px 1188px #fff, 1915px 391px #fff, 1658px 540px #fff, 1264px 515px #fff,
    1872px 876px #fff, 207px 1945px #fff, 892px 1469px #fff, 1286px 1078px #fff,
    2px 96px #fff, 1838px 1825px #fff, 1065px 471px #fff, 795px 838px #fff,
    119px 1884px #fff, 1092px 1033px #fff, 1595px 1337px #fff,
    1585px 1605px #fff, 1141px 717px #fff, 1392px 292px #fff, 187px 1207px #fff,
    1879px 1005px #fff, 594px 489px #fff, 1469px 511px #fff, 1241px 1930px #fff,
    809px 1172px #fff, 364px 1898px #fff, 1059px 1967px #fff, 1910px 1609px #fff,
    489px 1587px #fff, 549px 1525px #fff, 657px 248px #fff, 1984px 477px #fff,
    1343px 227px #fff, 332px 1611px #fff, 1076px 1236px #fff, 20px 327px #fff,
    406px 632px #fff, 1481px 229px #fff, 725px 1143px #fff, 448px 1750px #fff,
    1325px 1636px #fff, 996px 1368px #fff, 608px 1191px #fff, 1822px 87px #fff,
    243px 40px #fff, 161px 547px #fff, 1162px 1775px #fff, 415px 122px #fff,
    1856px 1385px #fff, 1480px 223px #fff, 446px 383px #fff, 1609px 1257px #fff,
    282px 83px #fff, 669px 752px #fff, 1216px 1389px #fff, 383px 403px #fff,
    956px 90px #fff, 1277px 1522px #fff, 621px 1091px #fff, 147px 513px #fff,
    1878px 207px #fff, 838px 1713px #fff, 1369px 1331px #fff, 187px 679px #fff,
    1389px 1071px #fff, 1075px 96px #fff, 747px 333px #fff, 722px 715px #fff,
    585px 1718px #fff, 1512px 1103px #fff, 1856px 1570px #fff,
    1342px 1098px #fff, 1484px 1191px #fff, 65px 259px #fff, 1798px 648px #fff,
    743px 363px #fff, 1148px 1055px #fff, 362px 949px #fff, 706px 812px #fff,
    983px 624px #fff, 1690px 231px #fff, 1667px 7px #fff, 693px 1244px #fff,
    323px 988px #fff, 898px 758px #fff, 1249px 917px #fff, 578px 976px #fff,
    269px 1615px #fff, 423px 1384px #fff, 1327px 1811px #fff, 861px 1489px #fff,
    293px 866px #fff, 53px 532px #fff, 256px 1250px #fff, 337px 1487px #fff,
    1670px 666px #fff, 485px 118px #fff, 1717px 1176px #fff, 1461px 1502px #fff,
    363px 592px #fff, 1926px 1935px #fff, 1353px 159px #fff, 1069px 1912px #fff,
    45px 955px #fff, 1129px 422px #fff, 1143px 615px #fff, 65px 196px #fff,
    1469px 96px #fff, 1351px 728px #fff, 1394px 1560px #fff, 1405px 14px #fff,
    1378px 551px #fff, 467px 636px #fff, 140px 1021px #fff, 955px 1833px #fff,
    1822px 235px #fff, 1960px 610px #fff, 280px 1432px #fff, 1172px 244px #fff,
    637px 1029px #fff, 289px 81px #fff, 699px 908px #fff, 626px 1085px #fff,
    1708px 1429px #fff, 244px 787px #fff, 351px 14px #fff, 1532px 54px #fff,
    1920px 687px #fff, 1497px 577px #fff, 966px 1925px #fff, 903px 1650px #fff,
    1869px 398px #fff, 643px 932px #fff, 1504px 195px #fff, 898px 383px #fff,
    330px 1689px #fff, 1122px 578px #fff, 732px 1622px #fff, 1392px 1135px #fff,
    1807px 717px #fff, 1495px 1129px #fff, 624px 1128px #fff, 150px 1912px #fff,
    906px 302px #fff, 10px 1573px #fff, 1975px 232px #fff, 1374px 761px #fff,
    1222px 176px #fff, 711px 1826px #fff, 1011px 5px #fff, 92px 732px #fff,
    537px 1738px #fff, 1177px 1401px #fff, 168px 1255px #fff, 786px 1507px #fff,
    1244px 1594px #fff, 1160px 1899px #fff, 485px 1359px #fff,
    1856px 1714px #fff, 1409px 617px #fff, 622px 14px #fff, 834px 1885px #fff,
    1712px 1979px #fff, 142px 211px #fff, 1054px 1884px #fff, 215px 156px #fff,
    577px 1040px #fff, 400px 134px #fff, 750px 131px #fff, 473px 922px #fff,
    1017px 608px #fff, 189px 346px #fff, 435px 1067px #fff, 1943px 1100px #fff,
    1245px 1587px #fff, 1911px 1655px #fff, 371px 615px #fff, 1649px 1284px #fff,
    1049px 1147px #fff, 277px 516px #fff, 1027px 403px #fff, 1856px 61px #fff,
    1899px 1737px #fff, 292px 885px #fff, 220px 1521px #fff, 1784px 1953px #fff,
    483px 804px #fff, 1385px 1314px #fff, 116px 929px #fff, 1426px 904px #fff,
    125px 584px #fff, 350px 1184px #fff, 319px 801px #fff, 231px 158px #fff,
    1520px 982px #fff, 578px 1161px #fff, 897px 1870px #fff, 958px 828px #fff,
    411px 172px #fff, 716px 1245px #fff, 1130px 1037px #fff, 426px 1238px #fff,
    1751px 1681px #fff, 1980px 1134px #fff, 576px 555px #fff, 1955px 435px #fff,
    321px 1661px #fff, 1338px 590px #fff, 1536px 321px #fff, 122px 637px #fff,
    1940px 1243px #fff, 1493px 1942px #fff, 1828px 1696px #fff, 786px 796px #fff,
    243px 1641px #fff, 353px 1097px #fff, 1069px 1541px #fff, 634px 141px #fff,
    817px 819px #fff, 1069px 1435px #fff, 639px 1850px #fff, 879px 1924px #fff,
    1830px 876px #fff, 1575px 773px #fff, 1224px 1239px #fff, 456px 1817px #fff,
    1647px 1857px #fff, 1221px 152px #fff, 654px 1198px #fff, 1248px 1771px #fff,
    1169px 1951px #fff, 711px 1744px #fff, 405px 1033px #fff, 1045px 1997px #fff,
    1490px 335px #fff, 1573px 899px #fff, 1198px 1451px #fff, 515px 297px #fff,
    1810px 383px #fff, 268px 746px #fff, 476px 604px #fff, 1900px 989px #fff,
    850px 568px #fff, 1892px 1945px #fff, 1727px 1707px #fff, 1055px 167px #fff,
    358px 659px #fff, 47px 249px #fff, 256px 587px #fff, 460px 1353px #fff,
    1877px 1992px #fff, 91px 580px #fff, 1476px 939px #fff, 653px 1804px #fff,
    663px 467px #fff, 1561px 380px #fff, 1149px 878px #fff, 1839px 810px #fff,
    1423px 1556px #fff, 8px 622px #fff, 1922px 1930px #fff, 42px 1763px #fff,
    666px 1041px #fff, 1137px 654px #fff, 845px 1502px #fff, 1879px 1375px #fff,
    1316px 961px #fff, 1429px 1900px #fff, 1675px 1277px #fff, 868px 72px #fff,
    683px 169px #fff, 1224px 1864px #fff, 687px 1132px #fff, 1951px 751px #fff,
    1870px 937px #fff, 45px 1232px #fff, 1861px 813px #fff, 1117px 1px #fff,
    1724px 1939px #fff, 409px 1412px #fff, 173px 150px #fff, 655px 1170px #fff,
    1051px 934px #fff, 746px 1564px #fff, 259px 1009px #fff, 926px 519px #fff,
    1166px 769px #fff, 293px 1706px #fff, 1171px 1298px #fff, 1824px 379px #fff,
    622px 504px #fff, 393px 1326px #fff, 1599px 834px #fff, 1405px 251px #fff,
    555px 1400px #fff, 1400px 1633px #fff, 1657px 980px #fff, 1574px 624px #fff,
    1759px 1564px #fff, 684px 1210px #fff, 558px 672px #fff, 1310px 1504px #fff,
    1474px 1186px #fff, 478px 507px #fff, 228px 197px #fff, 940px 1092px #fff,
    438px 1922px #fff, 1150px 1610px #fff, 688px 1315px #fff, 594px 1787px #fff,
    927px 1774px #fff, 1468px 1543px #fff, 167px 1615px #fff, 881px 1086px #fff,
    539px 150px #fff, 1660px 1948px #fff, 1482px 284px #fff, 178px 1244px #fff,
    1917px 245px #fff, 1816px 954px #fff, 1603px 321px #fff, 794px 556px #fff,
    571px 159px #fff, 827px 318px #fff, 1160px 1278px #fff, 967px 547px #fff,
    270px 285px #fff, 1834px 1701px #fff, 906px 1981px #fff, 1038px 1752px #fff,
    420px 1px #fff, 137px 1444px #fff, 823px 1860px #fff, 243px 854px #fff,
    596px 611px #fff, 664px 1039px #fff, 1319px 1708px #fff, 600px 1289px #fff,
    1253px 559px #fff, 385px 461px #fff, 1809px 1340px #fff, 376px 1817px #fff,
    1387px 39px #fff, 1821px 499px #fff, 349px 1615px #fff, 421px 290px #fff,
    1072px 102px #fff, 1964px 821px #fff, 723px 61px #fff, 1132px 301px #fff,
    1046px 743px #fff, 290px 616px #fff, 271px 1988px #fff, 488px 499px #fff,
    241px 1612px #fff, 672px 1872px #fff, 372px 356px #fff, 1655px 575px #fff,
    157px 1890px #fff, 441px 1572px #fff, 512px 653px #fff, 1908px 403px #fff,
    1535px 1316px #fff, 1518px 794px #fff, 539px 1279px #fff, 105px 681px #fff,
    1080px 1587px #fff, 89px 1763px #fff, 1426px 229px #fff, 231px 1150px #fff,
    639px 1478px #fff, 1015px 1331px #fff, 944px 891px #fff, 712px 1738px #fff,
    1324px 1349px #fff, 1808px 221px #fff, 1715px 835px #fff, 1803px 505px #fff,
    1875px 1905px #fff, 1004px 1017px #fff, 827px 1139px #fff, 208px 868px #fff,
    576px 128px #fff, 440px 1241px #fff, 272px 872px #fff, 1368px 283px #fff,
    1064px 945px #fff, 428px 1986px #fff, 378px 1676px #fff, 1684px 761px #fff,
    163px 83px #fff, 1024px 1678px #fff, 906px 934px #fff, 1061px 790px #fff,
    1707px 220px #fff, 1989px 953px #fff, 397px 259px #fff, 277px 883px #fff,
    1057px 1828px #fff, 1147px 1477px #fff, 1315px 1800px #fff,
    474px 1130px #fff, 321px 256px #fff, 1677px 1990px #fff, 1893px 1014px #fff,
    1200px 1505px #fff, 1424px 453px #fff, 222px 131px #fff, 875px 865px #fff,
    123px 1710px #fff, 626px 1131px #fff, 1863px 1349px #fff, 1629px 1063px #fff,
    486px 1874px #fff, 1299px 1946px #fff, 1336px 987px #fff, 1867px 876px #fff,
    81px 1124px #fff, 289px 707px #fff, 1034px 1114px #fff, 1966px 782px #fff,
    1607px 1455px #fff, 358px 647px #fff, 960px 1239px #fff, 1968px 1500px #fff,
    1629px 576px #fff, 1694px 585px #fff, 1123px 1689px #fff, 963px 426px #fff,
    619px 1271px #fff, 879px 59px #fff, 1937px 1060px #fff, 680px 478px #fff,
    1559px 673px #fff, 1788px 1107px #fff, 1391px 1339px #fff, 27px 1674px #fff,
    867px 336px #fff, 1202px 1061px #fff, 1332px 1377px #fff, 367px 1935px #fff,
    1730px 1009px #fff, 1428px 14px #fff, 378px 400px #fff, 1039px 267px #fff,
    674px 1904px #fff, 196px 88px #fff, 1816px 436px #fff, 1123px 1687px #fff,
    736px 64px #fff, 65px 147px #fff, 1846px 690px #fff, 736px 1654px #fff,
    622px 614px #fff, 472px 561px #fff, 375px 713px #fff, 1871px 1099px #fff,
    595px 608px #fff, 223px 1489px #fff, 1860px 145px #fff, 1711px 1483px #fff,
    676px 1544px #fff, 1585px 1728px #fff, 20px 1677px #fff, 32px 672px #fff,
    593px 87px #fff, 1654px 1138px #fff, 287px 922px #fff, 392px 254px #fff,
    411px 1659px #fff, 244px 1021px #fff, 524px 910px #fff, 1235px 1861px #fff,
    799px 702px #fff, 162px 963px #fff, 1800px 1818px #fff, 971px 1413px #fff,
    1341px 748px #fff, 945px 1339px #fff, 467px 1261px #fff, 632px 1310px #fff,
    118px 982px #fff, 762px 23px #fff, 982px 1659px #fff, 594px 715px #fff,
    1586px 564px #fff, 1980px 119px #fff, 1244px 1894px #fff, 879px 1827px #fff,
    1800px 1075px #fff, 1918px 1895px #fff, 500px 1173px #fff,
    1477px 1711px #fff, 482px 1061px #fff, 152px 437px #fff, 237px 1176px #fff,
    1219px 1475px #fff, 1404px 810px #fff, 1952px 1304px #fff, 532px 872px #fff,
    1527px 552px #fff, 902px 766px #fff, 1780px 1116px #fff, 826px 1496px #fff,
    649px 1886px #fff, 266px 1865px #fff, 172px 1854px #fff, 693px 893px #fff,
    726px 275px #fff, 1944px 825px #fff, 801px 1464px #fff, 537px 1861px #fff,
    1304px 1315px #fff, 464px 145px #fff, 1137px 1875px #fff, 1982px 1473px #fff,
    763px 63px #fff, 1633px 652px #fff, 135px 838px #fff, 88px 1484px #fff,
    1666px 15px #fff, 1033px 1701px #fff, 23px 1851px #fff, 415px 335px #fff,
    911px 1524px #fff, 564px 219px #fff, 967px 617px #fff, 131px 1418px #fff,
    57px 1778px #fff, 733px 1783px #fff, 103px 1713px #fff, 319px 1469px #fff,
    1829px 1133px #fff, 1857px 731px #fff, 291px 377px #fff, 1470px 1290px #fff,
    474px 1865px #fff, 1827px 48px #fff, 1004px 1944px #fff, 946px 708px #fff,
    1242px 1159px #fff, 137px 1252px #fff, 1436px 1348px #fff, 542px 1032px #fff,
    1420px 1272px #fff, 496px 1389px #fff, 693px 112px #fff, 1416px 1152px #fff,
    1055px 340px #fff, 396px 1175px #fff, 59px 1443px #fff, 399px 981px #fff,
    533px 1188px #fff, 290px 946px #fff, 825px 1416px #fff, 1753px 240px #fff,
    1314px 1197px #fff, 614px 867px #fff, 1177px 479px #fff, 892px 78px #fff,
    956px 884px #fff, 55px 204px #fff, 1309px 1848px #fff, 800px 1768px #fff,
    195px 1104px #fff, 1731px 930px #fff, 1498px 1117px #fff, 839px 292px #fff,
    1850px 1078px #fff, 1251px 1953px #fff, 596px 514px #fff, 1874px 925px #fff,
    1046px 335px #fff, 1079px 405px #fff, 799px 199px #fff, 538px 398px #fff,
    348px 1656px #fff, 125px 1087px #fff, 1229px 225px #fff, 1946px 1639px #fff,
    326px 312px #fff, 630px 1159px #fff, 1097px 90px #fff, 1755px 492px #fff,
    1502px 1010px #fff, 1128px 1820px #fff, 1817px 1729px #fff, 874px 200px #fff,
    387px 1261px #fff, 1251px 374px #fff, 1641px 1329px #fff, 88px 908px #fff,
    1542px 716px #fff, 441px 748px #fff, 391px 1681px #fff, 1454px 312px #fff,
    356px 1397px #fff, 1681px 894px #fff, 922px 634px #fff, 640px 538px #fff,
    101px 736px #fff, 254px 1280px #fff, 105px 79px #fff, 926px 1158px #fff,
    1919px 587px #fff, 1909px 1044px #fff, 620px 450px #fff, 1915px 1312px #fff,
    954px 1120px #fff, 692px 1371px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1973px 1073px #fff, 314px 526px #fff, 406px 347px #fff,
    1609px 1605px #fff, 122px 1282px #fff, 1862px 269px #fff, 1896px 1179px #fff,
    1638px 1600px #fff, 889px 1382px #fff, 894px 503px #fff, 751px 1448px #fff,
    1734px 779px #fff, 1033px 1419px #fff, 129px 1696px #fff, 1762px 866px #fff,
    617px 1514px #fff, 62px 998px #fff, 1634px 72px #fff, 880px 1247px #fff,
    645px 1860px #fff, 1777px 168px #fff, 702px 1299px #fff, 1746px 273px #fff,
    729px 1164px #fff, 1154px 1600px #fff, 81px 211px #fff, 1758px 1968px #fff,
    85px 1902px #fff, 1033px 531px #fff, 351px 1474px #fff, 555px 1534px #fff,
    1568px 1527px #fff, 885px 649px #fff, 520px 1639px #fff, 1731px 1075px #fff,
    458px 436px #fff, 921px 192px #fff, 1779px 1392px #fff, 231px 1324px #fff,
    1884px 1717px #fff, 1020px 131px #fff, 489px 1036px #fff, 1213px 1129px #fff,
    1748px 1507px #fff, 976px 1323px #fff, 1826px 1391px #fff, 302px 226px #fff,
    24px 1283px #fff, 11px 694px #fff, 1920px 461px #fff, 209px 1148px #fff,
    750px 716px #fff, 1990px 138px #fff, 1052px 886px #fff, 871px 1420px #fff,
    699px 1658px #fff, 901px 1441px #fff, 1796px 1923px #fff, 788px 323px #fff,
    218px 1214px #fff, 1890px 164px #fff, 1747px 201px #fff, 1353px 1403px #fff,
    158px 313px #fff, 1157px 1578px #fff, 713px 1593px #fff, 257px 1472px #fff,
    1801px 63px #fff, 1863px 1120px #fff, 1809px 732px #fff, 128px 699px #fff,
    1821px 1074px #fff, 270px 64px #fff, 1605px 968px #fff, 1343px 20px #fff,
    1611px 303px #fff, 373px 891px #fff, 1360px 1461px #fff, 947px 508px #fff,
    7px 510px #fff, 930px 1071px #fff, 540px 658px #fff, 555px 356px #fff,
    1595px 493px #fff, 1591px 848px #fff, 223px 684px #fff, 229px 1703px #fff,
    492px 1843px #fff, 776px 1619px #fff, 1357px 1040px #fff, 1647px 1826px #fff,
    1537px 1188px #fff, 1915px 391px #fff, 1658px 540px #fff, 1264px 515px #fff,
    1872px 876px #fff, 207px 1945px #fff, 892px 1469px #fff, 1286px 1078px #fff,
    2px 96px #fff, 1838px 1825px #fff, 1065px 471px #fff, 795px 838px #fff,
    119px 1884px #fff, 1092px 1033px #fff, 1595px 1337px #fff,
    1585px 1605px #fff, 1141px 717px #fff, 1392px 292px #fff, 187px 1207px #fff,
    1879px 1005px #fff, 594px 489px #fff, 1469px 511px #fff, 1241px 1930px #fff,
    809px 1172px #fff, 364px 1898px #fff, 1059px 1967px #fff, 1910px 1609px #fff,
    489px 1587px #fff, 549px 1525px #fff, 657px 248px #fff, 1984px 477px #fff,
    1343px 227px #fff, 332px 1611px #fff, 1076px 1236px #fff, 20px 327px #fff,
    406px 632px #fff, 1481px 229px #fff, 725px 1143px #fff, 448px 1750px #fff,
    1325px 1636px #fff, 996px 1368px #fff, 608px 1191px #fff, 1822px 87px #fff,
    243px 40px #fff, 161px 547px #fff, 1162px 1775px #fff, 415px 122px #fff,
    1856px 1385px #fff, 1480px 223px #fff, 446px 383px #fff, 1609px 1257px #fff,
    282px 83px #fff, 669px 752px #fff, 1216px 1389px #fff, 383px 403px #fff,
    956px 90px #fff, 1277px 1522px #fff, 621px 1091px #fff, 147px 513px #fff,
    1878px 207px #fff, 838px 1713px #fff, 1369px 1331px #fff, 187px 679px #fff,
    1389px 1071px #fff, 1075px 96px #fff, 747px 333px #fff, 722px 715px #fff,
    585px 1718px #fff, 1512px 1103px #fff, 1856px 1570px #fff,
    1342px 1098px #fff, 1484px 1191px #fff, 65px 259px #fff, 1798px 648px #fff,
    743px 363px #fff, 1148px 1055px #fff, 362px 949px #fff, 706px 812px #fff,
    983px 624px #fff, 1690px 231px #fff, 1667px 7px #fff, 693px 1244px #fff,
    323px 988px #fff, 898px 758px #fff, 1249px 917px #fff, 578px 976px #fff,
    269px 1615px #fff, 423px 1384px #fff, 1327px 1811px #fff, 861px 1489px #fff,
    293px 866px #fff, 53px 532px #fff, 256px 1250px #fff, 337px 1487px #fff,
    1670px 666px #fff, 485px 118px #fff, 1717px 1176px #fff, 1461px 1502px #fff,
    363px 592px #fff, 1926px 1935px #fff, 1353px 159px #fff, 1069px 1912px #fff,
    45px 955px #fff, 1129px 422px #fff, 1143px 615px #fff, 65px 196px #fff,
    1469px 96px #fff, 1351px 728px #fff, 1394px 1560px #fff, 1405px 14px #fff,
    1378px 551px #fff, 467px 636px #fff, 140px 1021px #fff, 955px 1833px #fff,
    1822px 235px #fff, 1960px 610px #fff, 280px 1432px #fff, 1172px 244px #fff,
    637px 1029px #fff, 289px 81px #fff, 699px 908px #fff, 626px 1085px #fff,
    1708px 1429px #fff, 244px 787px #fff, 351px 14px #fff, 1532px 54px #fff,
    1920px 687px #fff, 1497px 577px #fff, 966px 1925px #fff, 903px 1650px #fff,
    1869px 398px #fff, 643px 932px #fff, 1504px 195px #fff, 898px 383px #fff,
    330px 1689px #fff, 1122px 578px #fff, 732px 1622px #fff, 1392px 1135px #fff,
    1807px 717px #fff, 1495px 1129px #fff, 624px 1128px #fff, 150px 1912px #fff,
    906px 302px #fff, 10px 1573px #fff, 1975px 232px #fff, 1374px 761px #fff,
    1222px 176px #fff, 711px 1826px #fff, 1011px 5px #fff, 92px 732px #fff,
    537px 1738px #fff, 1177px 1401px #fff, 168px 1255px #fff, 786px 1507px #fff,
    1244px 1594px #fff, 1160px 1899px #fff, 485px 1359px #fff,
    1856px 1714px #fff, 1409px 617px #fff, 622px 14px #fff, 834px 1885px #fff,
    1712px 1979px #fff, 142px 211px #fff, 1054px 1884px #fff, 215px 156px #fff,
    577px 1040px #fff, 400px 134px #fff, 750px 131px #fff, 473px 922px #fff,
    1017px 608px #fff, 189px 346px #fff, 435px 1067px #fff, 1943px 1100px #fff,
    1245px 1587px #fff, 1911px 1655px #fff, 371px 615px #fff, 1649px 1284px #fff,
    1049px 1147px #fff, 277px 516px #fff, 1027px 403px #fff, 1856px 61px #fff,
    1899px 1737px #fff, 292px 885px #fff, 220px 1521px #fff, 1784px 1953px #fff,
    483px 804px #fff, 1385px 1314px #fff, 116px 929px #fff, 1426px 904px #fff,
    125px 584px #fff, 350px 1184px #fff, 319px 801px #fff, 231px 158px #fff,
    1520px 982px #fff, 578px 1161px #fff, 897px 1870px #fff, 958px 828px #fff,
    411px 172px #fff, 716px 1245px #fff, 1130px 1037px #fff, 426px 1238px #fff,
    1751px 1681px #fff, 1980px 1134px #fff, 576px 555px #fff, 1955px 435px #fff,
    321px 1661px #fff, 1338px 590px #fff, 1536px 321px #fff, 122px 637px #fff,
    1940px 1243px #fff, 1493px 1942px #fff, 1828px 1696px #fff, 786px 796px #fff,
    243px 1641px #fff, 353px 1097px #fff, 1069px 1541px #fff, 634px 141px #fff,
    817px 819px #fff, 1069px 1435px #fff, 639px 1850px #fff, 879px 1924px #fff,
    1830px 876px #fff, 1575px 773px #fff, 1224px 1239px #fff, 456px 1817px #fff,
    1647px 1857px #fff, 1221px 152px #fff, 654px 1198px #fff, 1248px 1771px #fff,
    1169px 1951px #fff, 711px 1744px #fff, 405px 1033px #fff, 1045px 1997px #fff,
    1490px 335px #fff, 1573px 899px #fff, 1198px 1451px #fff, 515px 297px #fff,
    1810px 383px #fff, 268px 746px #fff, 476px 604px #fff, 1900px 989px #fff,
    850px 568px #fff, 1892px 1945px #fff, 1727px 1707px #fff, 1055px 167px #fff,
    358px 659px #fff, 47px 249px #fff, 256px 587px #fff, 460px 1353px #fff,
    1877px 1992px #fff, 91px 580px #fff, 1476px 939px #fff, 653px 1804px #fff,
    663px 467px #fff, 1561px 380px #fff, 1149px 878px #fff, 1839px 810px #fff,
    1423px 1556px #fff, 8px 622px #fff, 1922px 1930px #fff, 42px 1763px #fff,
    666px 1041px #fff, 1137px 654px #fff, 845px 1502px #fff, 1879px 1375px #fff,
    1316px 961px #fff, 1429px 1900px #fff, 1675px 1277px #fff, 868px 72px #fff,
    683px 169px #fff, 1224px 1864px #fff, 687px 1132px #fff, 1951px 751px #fff,
    1870px 937px #fff, 45px 1232px #fff, 1861px 813px #fff, 1117px 1px #fff,
    1724px 1939px #fff, 409px 1412px #fff, 173px 150px #fff, 655px 1170px #fff,
    1051px 934px #fff, 746px 1564px #fff, 259px 1009px #fff, 926px 519px #fff,
    1166px 769px #fff, 293px 1706px #fff, 1171px 1298px #fff, 1824px 379px #fff,
    622px 504px #fff, 393px 1326px #fff, 1599px 834px #fff, 1405px 251px #fff,
    555px 1400px #fff, 1400px 1633px #fff, 1657px 980px #fff, 1574px 624px #fff,
    1759px 1564px #fff, 684px 1210px #fff, 558px 672px #fff, 1310px 1504px #fff,
    1474px 1186px #fff, 478px 507px #fff, 228px 197px #fff, 940px 1092px #fff,
    438px 1922px #fff, 1150px 1610px #fff, 688px 1315px #fff, 594px 1787px #fff,
    927px 1774px #fff, 1468px 1543px #fff, 167px 1615px #fff, 881px 1086px #fff,
    539px 150px #fff, 1660px 1948px #fff, 1482px 284px #fff, 178px 1244px #fff,
    1917px 245px #fff, 1816px 954px #fff, 1603px 321px #fff, 794px 556px #fff,
    571px 159px #fff, 827px 318px #fff, 1160px 1278px #fff, 967px 547px #fff,
    270px 285px #fff, 1834px 1701px #fff, 906px 1981px #fff, 1038px 1752px #fff,
    420px 1px #fff, 137px 1444px #fff, 823px 1860px #fff, 243px 854px #fff,
    596px 611px #fff, 664px 1039px #fff, 1319px 1708px #fff, 600px 1289px #fff,
    1253px 559px #fff, 385px 461px #fff, 1809px 1340px #fff, 376px 1817px #fff,
    1387px 39px #fff, 1821px 499px #fff, 349px 1615px #fff, 421px 290px #fff,
    1072px 102px #fff, 1964px 821px #fff, 723px 61px #fff, 1132px 301px #fff,
    1046px 743px #fff, 290px 616px #fff, 271px 1988px #fff, 488px 499px #fff,
    241px 1612px #fff, 672px 1872px #fff, 372px 356px #fff, 1655px 575px #fff,
    157px 1890px #fff, 441px 1572px #fff, 512px 653px #fff, 1908px 403px #fff,
    1535px 1316px #fff, 1518px 794px #fff, 539px 1279px #fff, 105px 681px #fff,
    1080px 1587px #fff, 89px 1763px #fff, 1426px 229px #fff, 231px 1150px #fff,
    639px 1478px #fff, 1015px 1331px #fff, 944px 891px #fff, 712px 1738px #fff,
    1324px 1349px #fff, 1808px 221px #fff, 1715px 835px #fff, 1803px 505px #fff,
    1875px 1905px #fff, 1004px 1017px #fff, 827px 1139px #fff, 208px 868px #fff,
    576px 128px #fff, 440px 1241px #fff, 272px 872px #fff, 1368px 283px #fff,
    1064px 945px #fff, 428px 1986px #fff, 378px 1676px #fff, 1684px 761px #fff,
    163px 83px #fff, 1024px 1678px #fff, 906px 934px #fff, 1061px 790px #fff,
    1707px 220px #fff, 1989px 953px #fff, 397px 259px #fff, 277px 883px #fff,
    1057px 1828px #fff, 1147px 1477px #fff, 1315px 1800px #fff,
    474px 1130px #fff, 321px 256px #fff, 1677px 1990px #fff, 1893px 1014px #fff,
    1200px 1505px #fff, 1424px 453px #fff, 222px 131px #fff, 875px 865px #fff,
    123px 1710px #fff, 626px 1131px #fff, 1863px 1349px #fff, 1629px 1063px #fff,
    486px 1874px #fff, 1299px 1946px #fff, 1336px 987px #fff, 1867px 876px #fff,
    81px 1124px #fff, 289px 707px #fff, 1034px 1114px #fff, 1966px 782px #fff,
    1607px 1455px #fff, 358px 647px #fff, 960px 1239px #fff, 1968px 1500px #fff,
    1629px 576px #fff, 1694px 585px #fff, 1123px 1689px #fff, 963px 426px #fff,
    619px 1271px #fff, 879px 59px #fff, 1937px 1060px #fff, 680px 478px #fff,
    1559px 673px #fff, 1788px 1107px #fff, 1391px 1339px #fff, 27px 1674px #fff,
    867px 336px #fff, 1202px 1061px #fff, 1332px 1377px #fff, 367px 1935px #fff,
    1730px 1009px #fff, 1428px 14px #fff, 378px 400px #fff, 1039px 267px #fff,
    674px 1904px #fff, 196px 88px #fff, 1816px 436px #fff, 1123px 1687px #fff,
    736px 64px #fff, 65px 147px #fff, 1846px 690px #fff, 736px 1654px #fff,
    622px 614px #fff, 472px 561px #fff, 375px 713px #fff, 1871px 1099px #fff,
    595px 608px #fff, 223px 1489px #fff, 1860px 145px #fff, 1711px 1483px #fff,
    676px 1544px #fff, 1585px 1728px #fff, 20px 1677px #fff, 32px 672px #fff,
    593px 87px #fff, 1654px 1138px #fff, 287px 922px #fff, 392px 254px #fff,
    411px 1659px #fff, 244px 1021px #fff, 524px 910px #fff, 1235px 1861px #fff,
    799px 702px #fff, 162px 963px #fff, 1800px 1818px #fff, 971px 1413px #fff,
    1341px 748px #fff, 945px 1339px #fff, 467px 1261px #fff, 632px 1310px #fff,
    118px 982px #fff, 762px 23px #fff, 982px 1659px #fff, 594px 715px #fff,
    1586px 564px #fff, 1980px 119px #fff, 1244px 1894px #fff, 879px 1827px #fff,
    1800px 1075px #fff, 1918px 1895px #fff, 500px 1173px #fff,
    1477px 1711px #fff, 482px 1061px #fff, 152px 437px #fff, 237px 1176px #fff,
    1219px 1475px #fff, 1404px 810px #fff, 1952px 1304px #fff, 532px 872px #fff,
    1527px 552px #fff, 902px 766px #fff, 1780px 1116px #fff, 826px 1496px #fff,
    649px 1886px #fff, 266px 1865px #fff, 172px 1854px #fff, 693px 893px #fff,
    726px 275px #fff, 1944px 825px #fff, 801px 1464px #fff, 537px 1861px #fff,
    1304px 1315px #fff, 464px 145px #fff, 1137px 1875px #fff, 1982px 1473px #fff,
    763px 63px #fff, 1633px 652px #fff, 135px 838px #fff, 88px 1484px #fff,
    1666px 15px #fff, 1033px 1701px #fff, 23px 1851px #fff, 415px 335px #fff,
    911px 1524px #fff, 564px 219px #fff, 967px 617px #fff, 131px 1418px #fff,
    57px 1778px #fff, 733px 1783px #fff, 103px 1713px #fff, 319px 1469px #fff,
    1829px 1133px #fff, 1857px 731px #fff, 291px 377px #fff, 1470px 1290px #fff,
    474px 1865px #fff, 1827px 48px #fff, 1004px 1944px #fff, 946px 708px #fff,
    1242px 1159px #fff, 137px 1252px #fff, 1436px 1348px #fff, 542px 1032px #fff,
    1420px 1272px #fff, 496px 1389px #fff, 693px 112px #fff, 1416px 1152px #fff,
    1055px 340px #fff, 396px 1175px #fff, 59px 1443px #fff, 399px 981px #fff,
    533px 1188px #fff, 290px 946px #fff, 825px 1416px #fff, 1753px 240px #fff,
    1314px 1197px #fff, 614px 867px #fff, 1177px 479px #fff, 892px 78px #fff,
    956px 884px #fff, 55px 204px #fff, 1309px 1848px #fff, 800px 1768px #fff,
    195px 1104px #fff, 1731px 930px #fff, 1498px 1117px #fff, 839px 292px #fff,
    1850px 1078px #fff, 1251px 1953px #fff, 596px 514px #fff, 1874px 925px #fff,
    1046px 335px #fff, 1079px 405px #fff, 799px 199px #fff, 538px 398px #fff,
    348px 1656px #fff, 125px 1087px #fff, 1229px 225px #fff, 1946px 1639px #fff,
    326px 312px #fff, 630px 1159px #fff, 1097px 90px #fff, 1755px 492px #fff,
    1502px 1010px #fff, 1128px 1820px #fff, 1817px 1729px #fff, 874px 200px #fff,
    387px 1261px #fff, 1251px 374px #fff, 1641px 1329px #fff, 88px 908px #fff,
    1542px 716px #fff, 441px 748px #fff, 391px 1681px #fff, 1454px 312px #fff,
    356px 1397px #fff, 1681px 894px #fff, 922px 634px #fff, 640px 538px #fff,
    101px 736px #fff, 254px 1280px #fff, 105px 79px #fff, 926px 1158px #fff,
    1919px 587px #fff, 1909px 1044px #fff, 620px 450px #fff, 1915px 1312px #fff,
    954px 1120px #fff, 692px 1371px #fff;
}

#stars2 {
  width: 2px;
  height: 1px;
  background: transparent;
  box-shadow: 1641px 1300px #fff, 1483px 1589px #fff, 339px 698px #fff,
    381px 632px #fff, 1131px 932px #fff, 1892px 1017px #fff, 903px 750px #fff,
    732px 1278px #fff, 1943px 1728px #fff, 870px 618px #fff, 1119px 598px #fff,
    1872px 1394px #fff, 798px 1619px #fff, 1260px 1584px #fff,
    1205px 1648px #fff, 1080px 139px #fff, 1664px 1120px #fff, 1602px 939px #fff,
    979px 1879px #fff, 1667px 1123px #fff, 1355px 44px #fff, 244px 1837px #fff,
    1332px 1402px #fff, 1157px 445px #fff, 229px 62px #fff, 1677px 1337px #fff,
    1631px 1611px #fff, 582px 686px #fff, 1841px 1471px #fff, 48px 1816px #fff,
    30px 171px #fff, 1933px 359px #fff, 1602px 206px #fff, 638px 782px #fff,
    1636px 1738px #fff, 484px 580px #fff, 1293px 588px #fff, 522px 1632px #fff,
    267px 766px #fff, 1706px 1804px #fff, 1527px 874px #fff, 1337px 1166px #fff,
    1127px 1271px #fff, 1416px 1477px #fff, 1948px 1486px #fff,
    1738px 1534px #fff, 495px 959px #fff, 515px 1270px #fff, 65px 1151px #fff,
    739px 1181px #fff, 254px 1259px #fff, 1512px 1263px #fff, 74px 848px #fff,
    1257px 1987px #fff, 260px 30px #fff, 1319px 848px #fff, 988px 1350px #fff,
    1675px 513px #fff, 132px 502px #fff, 912px 1972px #fff, 908px 1414px #fff,
    1776px 185px #fff, 890px 536px #fff, 1986px 639px #fff, 1517px 1914px #fff,
    521px 656px #fff, 211px 1839px #fff, 596px 1889px #fff, 1851px 1006px #fff,
    778px 1349px #fff, 95px 921px #fff, 1413px 709px #fff, 531px 884px #fff,
    655px 1737px #fff, 328px 270px #fff, 719px 769px #fff, 1379px 1809px #fff,
    895px 1197px #fff, 80px 312px #fff, 1610px 1037px #fff, 1943px 1029px #fff,
    1607px 1896px #fff, 1725px 1418px #fff, 822px 296px #fff, 973px 891px #fff,
    1930px 1472px #fff, 1766px 115px #fff, 1519px 212px #fff, 918px 181px #fff,
    477px 780px #fff, 594px 1568px #fff, 1639px 923px #fff, 1682px 529px #fff,
    1896px 232px #fff, 1188px 1547px #fff, 1835px 1456px #fff,
    1083px 1872px #fff, 416px 794px #fff, 1925px 443px #fff, 668px 1467px #fff,
    587px 832px #fff, 859px 1463px #fff, 1879px 1465px #fff, 1423px 1290px #fff,
    723px 409px #fff, 477px 793px #fff, 654px 1779px #fff, 1063px 1922px #fff,
    1634px 63px #fff, 1217px 177px #fff, 1189px 1045px #fff, 376px 1673px #fff,
    942px 1531px #fff, 134px 28px #fff, 1955px 261px #fff, 855px 1362px #fff,
    819px 1830px #fff, 1863px 64px #fff, 1564px 551px #fff, 189px 1824px #fff,
    256px 1101px #fff, 1818px 367px #fff, 470px 1706px #fff, 1523px 728px #fff,
    1007px 1121px #fff, 35px 1831px #fff, 775px 197px #fff, 215px 1297px #fff,
    634px 302px #fff, 214px 1969px #fff, 603px 1290px #fff, 1345px 1944px #fff,
    1607px 217px #fff, 1448px 1053px #fff, 593px 1212px #fff, 1345px 308px #fff,
    1196px 1671px #fff, 1184px 597px #fff, 482px 1864px #fff, 801px 1501px #fff,
    977px 639px #fff, 1493px 174px #fff, 1411px 614px #fff, 1238px 1773px #fff,
    655px 1238px #fff, 1033px 652px #fff, 776px 1945px #fff, 1588px 1405px #fff,
    369px 1536px #fff, 721px 472px #fff, 307px 1121px #fff, 947px 1240px #fff,
    1163px 1824px #fff, 1342px 752px #fff, 1638px 1571px #fff,
    1638px 1515px #fff, 508px 1313px #fff, 940px 189px #fff, 1089px 1175px #fff,
    974px 1436px #fff, 1898px 273px #fff, 325px 1183px #fff, 1757px 1199px #fff,
    1540px 1366px #fff, 19px 1385px #fff, 1188px 308px #fff, 867px 901px #fff,
    1274px 879px #fff, 1724px 1665px #fff, 620px 1489px #fff, 1524px 1142px #fff,
    602px 400px #fff, 684px 1739px #fff, 694px 1277px #fff, 650px 1642px #fff,
    1337px 1527px #fff, 305px 658px #fff, 1987px 1921px #fff, 80px 1440px #fff,
    1282px 1288px #fff, 947px 1886px #fff, 327px 816px #fff, 996px 509px #fff,
    215px 895px #fff, 1746px 961px #fff, 1618px 1907px #fff, 686px 328px #fff,
    155px 825px #fff, 887px 881px #fff, 565px 1870px #fff, 34px 1533px #fff,
    1131px 272px #fff, 1457px 390px #fff, 564px 891px #fff, 692px 31px #fff,
    1967px 1159px #fff, 1349px 1089px #fff, 1186px 755px #fff, 1662px 244px #fff,
    1478px 944px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 1px;
  background: transparent;
  box-shadow: 1641px 1300px #fff, 1483px 1589px #fff, 339px 698px #fff,
    381px 632px #fff, 1131px 932px #fff, 1892px 1017px #fff, 903px 750px #fff,
    732px 1278px #fff, 1943px 1728px #fff, 870px 618px #fff, 1119px 598px #fff,
    1872px 1394px #fff, 798px 1619px #fff, 1260px 1584px #fff,
    1205px 1648px #fff, 1080px 139px #fff, 1664px 1120px #fff, 1602px 939px #fff,
    979px 1879px #fff, 1667px 1123px #fff, 1355px 44px #fff, 244px 1837px #fff,
    1332px 1402px #fff, 1157px 445px #fff, 229px 62px #fff, 1677px 1337px #fff,
    1631px 1611px #fff, 582px 686px #fff, 1841px 1471px #fff, 48px 1816px #fff,
    30px 171px #fff, 1933px 359px #fff, 1602px 206px #fff, 638px 782px #fff,
    1636px 1738px #fff, 484px 580px #fff, 1293px 588px #fff, 522px 1632px #fff,
    267px 766px #fff, 1706px 1804px #fff, 1527px 874px #fff, 1337px 1166px #fff,
    1127px 1271px #fff, 1416px 1477px #fff, 1948px 1486px #fff,
    1738px 1534px #fff, 495px 959px #fff, 515px 1270px #fff, 65px 1151px #fff,
    739px 1181px #fff, 254px 1259px #fff, 1512px 1263px #fff, 74px 848px #fff,
    1257px 1987px #fff, 260px 30px #fff, 1319px 848px #fff, 988px 1350px #fff,
    1675px 513px #fff, 132px 502px #fff, 912px 1972px #fff, 908px 1414px #fff,
    1776px 185px #fff, 890px 536px #fff, 1986px 639px #fff, 1517px 1914px #fff,
    521px 656px #fff, 211px 1839px #fff, 596px 1889px #fff, 1851px 1006px #fff,
    778px 1349px #fff, 95px 921px #fff, 1413px 709px #fff, 531px 884px #fff,
    655px 1737px #fff, 328px 270px #fff, 719px 769px #fff, 1379px 1809px #fff,
    895px 1197px #fff, 80px 312px #fff, 1610px 1037px #fff, 1943px 1029px #fff,
    1607px 1896px #fff, 1725px 1418px #fff, 822px 296px #fff, 973px 891px #fff,
    1930px 1472px #fff, 1766px 115px #fff, 1519px 212px #fff, 918px 181px #fff,
    477px 780px #fff, 594px 1568px #fff, 1639px 923px #fff, 1682px 529px #fff,
    1896px 232px #fff, 1188px 1547px #fff, 1835px 1456px #fff,
    1083px 1872px #fff, 416px 794px #fff, 1925px 443px #fff, 668px 1467px #fff,
    587px 832px #fff, 859px 1463px #fff, 1879px 1465px #fff, 1423px 1290px #fff,
    723px 409px #fff, 477px 793px #fff, 654px 1779px #fff, 1063px 1922px #fff,
    1634px 63px #fff, 1217px 177px #fff, 1189px 1045px #fff, 376px 1673px #fff,
    942px 1531px #fff, 134px 28px #fff, 1955px 261px #fff, 855px 1362px #fff,
    819px 1830px #fff, 1863px 64px #fff, 1564px 551px #fff, 189px 1824px #fff,
    256px 1101px #fff, 1818px 367px #fff, 470px 1706px #fff, 1523px 728px #fff,
    1007px 1121px #fff, 35px 1831px #fff, 775px 197px #fff, 215px 1297px #fff,
    634px 302px #fff, 214px 1969px #fff, 603px 1290px #fff, 1345px 1944px #fff,
    1607px 217px #fff, 1448px 1053px #fff, 593px 1212px #fff, 1345px 308px #fff,
    1196px 1671px #fff, 1184px 597px #fff, 482px 1864px #fff, 801px 1501px #fff,
    977px 639px #fff, 1493px 174px #fff, 1411px 614px #fff, 1238px 1773px #fff,
    655px 1238px #fff, 1033px 652px #fff, 776px 1945px #fff, 1588px 1405px #fff,
    369px 1536px #fff, 721px 472px #fff, 307px 1121px #fff, 947px 1240px #fff,
    1163px 1824px #fff, 1342px 752px #fff, 1638px 1571px #fff,
    1638px 1515px #fff, 508px 1313px #fff, 940px 189px #fff, 1089px 1175px #fff,
    974px 1436px #fff, 1898px 273px #fff, 325px 1183px #fff, 1757px 1199px #fff,
    1540px 1366px #fff, 19px 1385px #fff, 1188px 308px #fff, 867px 901px #fff,
    1274px 879px #fff, 1724px 1665px #fff, 620px 1489px #fff, 1524px 1142px #fff,
    602px 400px #fff, 684px 1739px #fff, 694px 1277px #fff, 650px 1642px #fff,
    1337px 1527px #fff, 305px 658px #fff, 1987px 1921px #fff, 80px 1440px #fff,
    1282px 1288px #fff, 947px 1886px #fff, 327px 816px #fff, 996px 509px #fff,
    215px 895px #fff, 1746px 961px #fff, 1618px 1907px #fff, 686px 328px #fff,
    155px 825px #fff, 887px 881px #fff, 565px 1870px #fff, 34px 1533px #fff,
    1131px 272px #fff, 1457px 390px #fff, 564px 891px #fff, 692px 31px #fff,
    1967px 1159px #fff, 1349px 1089px #fff, 1186px 755px #fff, 1662px 244px #fff,
    1478px 944px #fff;
}

#stars3 {
  width: 3px;
  height: 2px;
  background: transparent;
  box-shadow: 1814px 376px #fff, 1239px 1219px #fff, 1556px 408px #fff,
    472px 654px #fff, 1226px 309px #fff, 1968px 48px #fff, 1027px 1142px #fff,
    54px 1327px #fff, 1235px 1034px #fff, 1430px 334px #fff, 1414px 123px #fff,
    1296px 1999px #fff, 1902px 1813px #fff, 694px 1853px #fff, 465px 1787px #fff,
    71px 604px #fff, 251px 1158px #fff, 940px 386px #fff, 1119px 620px #fff,
    878px 1591px #fff, 1806px 641px #fff, 1282px 188px #fff, 319px 574px #fff,
    1388px 1527px #fff, 1592px 898px #fff, 1465px 985px #fff, 788px 1193px #fff,
    466px 1530px #fff, 1134px 1108px #fff, 932px 1804px #fff, 1890px 405px #fff,
    476px 789px #fff, 848px 1446px #fff, 1629px 1485px #fff, 1460px 1934px #fff,
    1367px 1341px #fff, 330px 1229px #fff, 1536px 1509px #fff,
    1458px 1184px #fff, 181px 1520px #fff, 152px 351px #fff, 1253px 1010px #fff,
    1356px 414px #fff, 1791px 697px #fff, 1158px 1351px #fff, 422px 978px #fff,
    174px 1960px #fff, 1466px 1374px #fff, 1675px 540px #fff, 1600px 1947px #fff,
    1768px 1782px #fff, 713px 5px #fff, 60px 909px #fff, 652px 421px #fff,
    275px 290px #fff, 1617px 279px #fff, 827px 1530px #fff, 33px 170px #fff,
    1186px 1059px #fff, 1179px 618px #fff, 353px 1818px #fff, 1704px 201px #fff,
    240px 887px #fff, 297px 1706px #fff, 265px 1294px #fff, 857px 211px #fff,
    650px 1475px #fff, 1347px 1845px #fff, 138px 1568px #fff, 998px 372px #fff,
    997px 1088px #fff, 1900px 1435px #fff, 29px 557px #fff, 669px 979px #fff,
    1006px 1032px #fff, 805px 374px #fff, 545px 711px #fff, 540px 1330px #fff,
    674px 63px #fff, 1951px 970px #fff, 1417px 1498px #fff, 1394px 1847px #fff,
    513px 146px #fff, 1934px 637px #fff, 824px 1204px #fff, 1682px 1486px #fff,
    890px 1679px #fff, 505px 1243px #fff, 598px 964px #fff, 1054px 1007px #fff,
    1076px 848px #fff, 845px 1527px #fff, 1476px 921px #fff, 186px 1425px #fff,
    1547px 214px #fff, 344px 366px #fff, 492px 1504px #fff, 1638px 1697px #fff,
    141px 406px #fff, 1387px 229px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 3000px;
  width: 3px;
  height: 1px;
  background: transparent;
  box-shadow: 1814px 376px #fff, 1239px 1219px #fff, 1556px 408px #fff,
    472px 654px #fff, 1226px 309px #fff, 1968px 48px #fff, 1027px 1142px #fff,
    54px 1327px #fff, 1235px 1034px #fff, 1430px 334px #fff, 1414px 123px #fff,
    1296px 1999px #fff, 1902px 1813px #fff, 694px 1853px #fff, 465px 1787px #fff,
    71px 604px #fff, 251px 1158px #fff, 940px 386px #fff, 1119px 620px #fff,
    878px 1591px #fff, 1806px 641px #fff, 1282px 188px #fff, 319px 574px #fff,
    1388px 1527px #fff, 1592px 898px #fff, 1465px 985px #fff, 788px 1193px #fff,
    466px 1530px #fff, 1134px 1108px #fff, 932px 1804px #fff, 1890px 405px #fff,
    476px 789px #fff, 848px 1446px #fff, 1629px 1485px #fff, 1460px 1934px #fff,
    1367px 1341px #fff, 330px 1229px #fff, 1536px 1509px #fff,
    1458px 1184px #fff, 181px 1520px #fff, 152px 351px #fff, 1253px 1010px #fff,
    1356px 414px #fff, 1791px 697px #fff, 1158px 1351px #fff, 422px 978px #fff,
    174px 1960px #fff, 1466px 1374px #fff, 1675px 540px #fff, 1600px 1947px #fff,
    1768px 1782px #fff, 713px 5px #fff, 60px 909px #fff, 652px 421px #fff,
    275px 290px #fff, 1617px 279px #fff, 827px 1530px #fff, 33px 170px #fff,
    1186px 1059px #fff, 1179px 618px #fff, 353px 1818px #fff, 1704px 201px #fff,
    240px 887px #fff, 297px 1706px #fff, 265px 1294px #fff, 857px 211px #fff,
    650px 1475px #fff, 1347px 1845px #fff, 138px 1568px #fff, 998px 372px #fff,
    997px 1088px #fff, 1900px 1435px #fff, 29px 557px #fff, 669px 979px #fff,
    1006px 1032px #fff, 805px 374px #fff, 545px 711px #fff, 540px 1330px #fff,
    674px 63px #fff, 1951px 970px #fff, 1417px 1498px #fff, 1394px 1847px #fff,
    513px 146px #fff, 1934px 637px #fff, 824px 1204px #fff, 1682px 1486px #fff,
    890px 1679px #fff, 505px 1243px #fff, 598px 964px #fff, 1054px 1007px #fff,
    1076px 848px #fff, 845px 1527px #fff, 1476px 921px #fff, 186px 1425px #fff,
    1547px 214px #fff, 344px 366px #fff, 492px 1504px #fff, 1638px 1697px #fff,
    141px 406px #fff, 1387px 229px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

html {
  background: #020113;
}

@font-face {
  font-family: MuseoSans;
  src: url("MuseoSansBlack.woff") format("woff");
}

h2,
h1 {
  position: relative;
  text-align: center;
  color: rgb(246, 250, 249);
}

.shadow {
  text-shadow: 0px 0px 3px rgba(134, 152, 255, 0.38),
    0px 0px 9px rgba(7, 255, 67, 0.55);
}

body {
  font-family: MuseoSans;
  font-weight: 900;
  font-size: 80%;
  margin-bottom: 5%;
}

.fuller-button {
  align-self: center;
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 1.2em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
  cursor: default;
  width: 10em;
}

.fuller-button-dept {
  align-self: center;
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 1.2em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  cursor: default;
  margin: auto;
  width: 10em;
}

.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5),
    0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}

.blue:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
    0 0 1.5em rgba(0, 170, 170, 0.7);
}

.blue:active {
  background-color: rgb(24, 129, 129);
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
    0 0 1.5em rgba(0, 170, 170, 0.7);
}

.red {
  box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4),
    0 0 1em rgba(251, 81, 81, 0.4);
  border: #fb5454 solid 2px;
}

.red:hover {
  background-color: #fb5454;
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4),
    0 0 1.5em rgba(251, 81, 81, 0.6);
}

.red:active {
  background-color: #9b3131;
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4),
    0 0 1.5em rgba(251, 81, 81, 0.6);
}

.white {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3),
    0 0 0.8em rgba(255, 255, 255, 0.3);
  border: #fff solid 2px;
}

.white:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3),
    0 0 1.2em rgba(255, 255, 255, 0.5);
}

.white:active {
  background-color: rgb(143, 122, 122);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3),
    0 0 1.2em rgba(255, 255, 255, 0.5);
}

/* Accordion styles */
.tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: center;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  margin-left: 20px;
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #ffffff;
  background: rgba(73, 90, 120, 0.58);
  transition: all 0.35s;
  text-align: center;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.invisible {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.image {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.col-3{width: 40% ;position: relative; background: #02011388; margin: auto;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Titillium Web", sans-serif; color: rgb(255, 255, 255); width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-13{border: 0; padding: 7px 15px; border: 2px solid #dadada;box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5),
  0 0 1em rgba(0, 170, 170, 0.5); position: relative; background: transparent;}
.effect-13::placeholder {
  color: rgba(255, 255, 255, 0.692);
}
.effect-13 ~ .focus-bg:before,
.effect-13 ~ .focus-bg:after{content: ""; position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: #ededed; transition: 0.3s; z-index: -1;}
.effect-13:focus ~ .focus-bg:before{transition: 0.3s; width: 50%;}
.effect-13 ~ .focus-bg:after{left: auto; right: 0;}
.effect-13:focus ~ .focus-bg:after{transition: 0.3s; width: 50%;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: auto;
  left: 0;
  padding: 0.8rem;
  background-color: #160f0f;
  text-align: center;
  color: #0dd;
  font-size: 8px;
  font-family:  'Titillium Web', sans-serif;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
