html {
  background: #020113;
}

@font-face {
  font-family: MuseoSans;
  src: url("MuseoSansBlack.woff") format("woff");
}

h2,
h1 {
  text-align: center;
  color: rgb(246, 250, 249);
}

.shadow {
  text-shadow: 0px 0px 3px rgba(134, 152, 255, 0.38),
    0px 0px 9px rgba(7, 255, 67, 0.55);
}

body {
  font-family: MuseoSans;
  font-weight: 900;
  font-size: 80%;
  margin-bottom: 5%;
}

.fuller-button {
  align-self: center;
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 1.2em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
  cursor: default;
  width: 10em;
}

.fuller-button-dept {
  align-self: center;
  color: rgba(255, 255, 255, 1);
  background: none;
  border-radius: 0;
  padding: 1.2em;
  letter-spacing: 0.35em;
  font-size: 0.9em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  cursor: default;
  margin: auto;
  width: 130px;
  height: 50px;
}

.blue {
  border: #0dd solid 2px;
}

.blue:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
    0 0 1.5em rgba(0, 170, 170, 0.7);
}

.blue:active {
  background-color: rgb(24, 129, 129);
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
    0 0 1.5em rgba(0, 170, 170, 0.7);
}

.red {
  border: #fb5454 solid 2px;
}

.red:hover {
  background-color: #fb5454;
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4),
    0 0 1.5em rgba(251, 81, 81, 0.6);
}

.red:active {
  background-color: #9b3131;
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4),
    0 0 1.5em rgba(251, 81, 81, 0.6);
}

.white {
  border: #fff solid 2px;
}

.white:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3),
    0 0 1.2em rgba(255, 255, 255, 0.5);
}

.white:active {
  background-color: rgb(143, 122, 122);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3),
    0 0 1.2em rgba(255, 255, 255, 0.5);
}

/* Accordion styles */
.tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: center;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  margin-left: 20px;
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #ffffff;
  background: rgba(4, 15, 35, 0.58);
  transition: all 0.35s;
  /* text-align: center; */
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 300vh;
  padding: 1em;
}

.invisible {
  display: none;
}

.image {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.col-3 {
  display: flex;
  justify-content: center;
  position: relative;
} /* necessary to give position: relative to parent. */
input, select {
  font: 15px/24px "Titillium Web", sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-13 {
  border: 0;
  width: 300px;
  padding: 7px 15px;
  border: 2px solid #dadada;
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5),
    0 0 1em rgba(0, 170, 170, 0.5);
  position: relative;
  background: transparent;
}
.effect-13::placeholder {
  color: rgba(255, 255, 255, 0.692);
}
/*
.effect-13 ~ .focus-bg:before,
.effect-13 ~ .focus-bg:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}*/
.effect-13:focus ~ .focus-bg:before {
  transition: 0.3s;
  width: 50%;
}
.effect-13 ~ .focus-bg:after {
  left: auto;
  right: 0;
}
.effect-13:focus ~ .focus-bg:after {
  transition: 0.3s;
  width: 50%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: auto;
  left: 0;
  padding: 0.8rem;
  background-color: #160f0f;
  text-align: center;
  color: #0dd;
  font-size: 8px;
  font-family:  'Titillium Web', sans-serif;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7c83da54;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading {
  display: none;
}

#loading.loading {
  display: block;
}

select {
  background: rgba(4, 5, 31, 0.521) !important;
  width: 300px;
}